<footer class="footer">
    <p>&copy; 2026 Mokuzai-cell. All rights reserved.</p>
</footer>
<style lang="scss">
    .footer{
        background:#074770;
        color:#f8faff;
        width:100%;
        min-height:52px;
        height:max-content;
        display:flex;
        align-items:center;
        justify-content: center;
        font-size: 12px;
    }
</style>